<header>
<div class="collapse bg-dark" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-7 py-4">
        <h4 class="text-white">About</h4>
        <p class="text-muted">전국적인 코로나19 확대로 인하여, 생활에 많은 불편함을 느끼고 있습니다. </p>
        <p class="text-muted">미흡하지만 저희들의 노력이 많은 분들께 도움이 되고자 하여 제작하게 되었습니다.</p>
        <p class="text-muted">(기술적, 시간적 결함으로 인하여 부산지역만 제작하게 되었습니다. MADE BY HGR-2기)</p>
        <p class="text-muted">잘못된 정보가 있다면 연락부탁드립니다.</p>
        <p class="text-muted">(데이터출처 : 부산시 홈페이지 http://www.busan.go.kr/corona19/index)</p>
      </div>
      <div class="col-sm-4 offset-md-1 py-4">
        <h4 class="text-white">Contact</h4>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Email</a></li>
          <li><a href="#" class="text-white">ckdcnldjq@gmail.com</a></li>
          <li><a href="#" class="text-white">rlaals7349@gmail.com</a></li>
          <li><a href="#" class="text-white">euskate07@gmail.com</a></li>
          <li><a href="#" class="text-white">hongkeun93@gmail.com</a></li>
          <!--<li><a href="#" class="text-white">Email me</a></li>-->
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-dark bg-dark shadow-sm">
  <div class="container d-flex justify-content-between">
    <div style="width: 100%;height:100%">
        <div style="width: auto;height:auto">
            <div style="float: left;">
                <a href="/BS/index" class="navbar-brand d-flex align-items-center" >
                    <strong>동선보기</strong>
                </a>
            </div>
            <!-- <div style="float: left;">
                <a href="/BS/phar" class="navbar-brand d-flex align-items-center">
                    <strong>마스크판매처</strong>
                </a>
            </div> -->
            <div style="float: left;">
                <a href="/BS/phar2" class="navbar-brand d-flex align-items-center">
                    <strong>마스크판매처</strong>
                </a>
            </div>
              <div style="float: left;">
                <a href="/BS/More" class="navbar-brand d-flex align-items-center" >
                    <strong>More</strong>
                </a>
            </div>  
        </div>
        <div style="float:right;margin-top:1%">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
  </div>
</div>
</header>
<script src="/static/js/busancorona.js" ></script>
<script src="/static/js/busancorona1.js"></script>